<!DOCTYPE html>
<html>

<head>
  <title>github-bookmark</title>
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
  </script>
  <link
    rel="stylesheet"
    type="text/css"
    href="style.css"
  />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div
    v-cloak
    id="app"
  >
    <header>
      <h1>Bookmarks</h1>
      <button @click="toggle">{{toggled ? 'add' : 'hide'}}</button>
      <div v-show="!toggled">
        <label
          for="username"
          hidden
        >username:</label>
        <input
          id="username"
          type="text"
          v-model="user.name"
          placeholder="zixing8284@gmail.com"
          hidden
        >
        <input
          type="button"
          :disabled="disabled"
          :value=`checkout(${timerCount})`
          @click.prevent="checkout"
        >
        <div v-if="ready">
          <label for="password">access_token:</label>
          <input
            type="password"
            id="token"
            v-model="user.token"
            placeholder="token please"
          >
          <button @click="newAnother">another</button>
          <div
            v-for="(item, index) in newbookmarks"
            :key="index"
          >
            here put you new bookmark
            <label for="bookmarkpath">Bookmarks Bar:</label>
            <input
              id="bookmarkpath"
              type="text"
              v-model="item.path"
              placeholder="/bookmarks Bar/"
            >
            <label for="bookmarkname">Bookmark Name:</label>
            <input
              id="bookmarkname"
              type="text"
              v-model="item.name"
              placeholder="name"
            >
            <label for="bookmarkurl">Bookmark Url:</label>
            <input
              id="bookmarkurl"
              type="text"
              v-model="item.url"
              placeholder="url"
            >
          </div>
          <input
            type="button"
            value='update'
            @click.prevent="updateMarks"
          >
          <div class="debug">
            <pre><code>{{ newbookmarks }}</code></pre>
          </div>
        </div>
      </div>
    </header>
    <section>
      <ul
        v-for="(value, key, index) in arrange"
        v-bind:key="key"
        class="main"
        v-cloak
      >
        <h2>{{ key }}</h2>
        <ul
          v-for="(childItem, childIndex) in value"
          v-bind:key="childIndex"
        >
          <li>name:<a
              :href="childItem.url"
              target="_blank"
            >{{ childItem.name !== '' ? childItem.name : ' mumei' }}</a></li>
          <li>path: {{ childItem.path }}</li>
        </ul>
      </ul>
    </section>
  </div>
  <script>
    var vm = new Vue({
      data: {
        toggled: true,
        disabled: false,
        user: {
          name: 'zixing8284@gmail.com',
          token: ''
        },
        newbookmarks: [
          {
            name: 'name',
            url: 'url',
            path: '/Bookmarks Bar/'
          }
        ],
        bookmarks: [],
        sha: '',
        arrangedBms: null,
        gottedBms: [],
        ready: false,
        timerCount: 60,
        intervalName: null,
      },
      watch: {
      },
      methods: {
        updateMarks () {
          const OBJ = {
            ...this.bookmarks,
            ...this.newbookmarks
          }
          const SEND = {
            message: 'update bookmarks',
            sha: this.sha,
            content: window.btoa(unescape(encodeURIComponent(JSON.stringify(OBJ))))
          }
          fetch('https://api.github.com/repos/zixing8284/bookmarks/contents/bookmarks.json', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `token ${this.user.token}`
            },
            body: JSON.stringify(SEND)
          }).then(res => {
            if (res.ok) {
              alert('update success')
            } else {
              alert('update failed')
            }
          })
        },
        newAnother () {
          this.newbookmarks.push({
            name: '',
            url: '',
            path: ''
          })
        },
        async loadJson () {
          const response = await fetch('bookmarks.json')
          const data = await response.json()
          this.bookmarks = data

        },
        checkout () {
          this.disabled = true
          this.user = {}
          if (!this.ready) {
            fetch('https://api.github.com/repos/zixing8284/bookmarks/contents/bookmarks.json',
              {
                method: 'GET',
                headers: {
                  'Accept': 'application/vnd.github.v3+json'
                }
              })
              .then(response => response.json())
              .then(result => {
                this.ready = !this.ready
                //  get bookmarks.json sha value, then i can use it to update the bookmarks.json
                this.sha = result.sha
                // set the timer
                this.intervalName = setInterval(() => {
                  this.timerCount--
                  if (this.timerCount === 0) {
                    clearInterval(this.intervalName)
                    this.timerCount = 60
                    this.ready = !this.ready
                    this.disabled = false
                  }
                }, 1000)
              })
              .catch(error => console.log(error))
          }
        },
        toggle () {
          this.toggled = !this.toggled
        }
      },
      computed: {
        // arrange the bookmarks
        arrange () {
          let data = {}
          this.bookmarks.forEach(element => {
            const folderArray = element.path.split('/').filter(Boolean)
            const folderEndString = folderArray[folderArray.length - 1]
            if (!data[folderEndString]) {
              data[folderEndString] = [{ ...element }]
            } else {
              data[folderEndString].push({ ...element })
            }
          })
          this.arrangedBms = { ...data }
          return this.arrangedBms
        },
      },
      mounted () {
        this.loadJson()
      },
      beforeDestory () {
        // clear the timer
        this.intervalName && clearInterval(this.intervalName)
      }
    })
    vm.$mount("#app")
  </script>
</body>

</html>
